<%= form_with(model: bulletin, local: true) do |form| %>
  <% if bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% bulletin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.file_field :attachment %><br>
  </div>
  <div class="actions">
    <%= form.submit("Upload File", class: "btn btn-primary btn-lg") %>
  </div>
<% end %>
